.music_bar {
    position: fixed ;
    width: 100%;
    height: 120px;
    left: 0;
    top: calc(100vh - 120px);
    background: #1e1f28;
    border-radius: 10px 10px 0px 0px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.music_side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 70%;
    width: 20%;
}

.music_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    width: 90%;
}

.volume {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    .volume {
        display: none;
    }
    .music_name {
        width: 90vw;
    }
    .music_side{
        width: 50%;
    }
}