.container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1e1f28;
    border-radius: 20px;
    width: auto;
    height: 40px;
    min-width: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.logo {
    padding-right: 10px;
}

.container p {
    display: none;
}
.container:hover p {
    display: block;
}

.container:hover {
    width: auto;
    padding-right: 10px;
    transition: 0.2s;
    box-shadow: 2px 2px 10px 0px #b62fc829, -2px -2px 10px 0px #fe9e9e1c;
}
