html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Baloo Bhaijaan 2";
  background: linear-gradient(180deg, #290c26 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.jc_c {
  justify-content: center;
}

.jc_sb {
  justify-content: space-between;
}

.jc_sa {
  justify-content: space-around;
}

.jc_sa {
  justify-content: space-evenly;
}

img {
  border-radius: 20px;
}

.white {
  color: #e3e3e3;
}

.black {
  color: #000;
}

.gray {
  color: #979797;
}

.paper {
  background-color: #1e1f28;
}

.gradient {
  background: linear-gradient(90deg, #e17ed4 0%, #e17ed4 16.98%, #fe9e9e 31.04%, #b62fc8 46.15%, #b62fc8 100%);
}
.fs_12 {
  font-size: 12px;
  margin: 0;
}
.fs_16 {
  font-size: 16px;
  margin: 0;
}

.fs_20 {
  font-size: 20px;
  margin: 0;
}

.fs_24 {
  font-size: 24px;
  margin: 0;
}

.fs_32 {
  font-size: 32px;
  margin: 0;
}

.fs_48 {
  font-size: 48px;
  margin: 0;
}

.m10 {
  margin: 10px;
}

.noboard {
  border-radius: 0px;
}

.b20 {
  border-radius: 20px;
}

.w150 {
  width: 150px;
}

.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}

.h100 {
  height: 100px;
}

.h150 {
  height: 150px;
}

.h200 {
  height: 200px;
}

.h250 {
  height: 250px;
}

.h300 {
  height: 300px;
}

.h400 {
  height: 400px;
}

#volume_line {
  margin-left: 5px;
  margin-bottom: 5px;
  -webkit-appearance: none;
  height: 10px;
  width: 100px;
  background: #19171f;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #e17ed4 0%, #e17ed4 16.98%, #b62fc8 46.15%, #b62fc8 100%);
  background-repeat: no-repeat;
}

#volume_line::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 0 20px 20px 0;
  background: #b62fc8;
  cursor: pointer;
}

#volume_line::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#track_line {
  position: absolute;
  bottom: 110px;
  -webkit-appearance: none;
  height: 12px;
  width: 100%;
  background: #19171f;
  border-radius: 50px 50px 0 0;
  background-image: linear-gradient(90deg, #e17ed4 0%, #e17ed4 16.98%, #b62fc8 31.04%, #b62fc8 46.15%, #fe9e9e 100%);
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

#track_line::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 0;
  background: #fe9e9e;
  padding: 10px;
  filter: blur(10px);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#track_line::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

.icon {
  transition: 0.1s;
}

.icon:hover {
  transform: scale(1.2);
}

.container {
  padding: 40px;
  border-radius: 20px;
  min-width: 50vw;
  min-height: 400px;
}

.big:nth-child(n) {
  transform: scale(1.4);
}

.boarder {
  border: dashed #979797 2px;
}

.p10 {
  padding: 10px;
}

.createButton {
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 10;
}

#searchBar {
  background-color: #1e1f28;
  padding: 10px;
  padding-left: 3vw;
  margin-bottom: 10px;
  font-size: 24px;
}

#authorLogo {
  border-radius: 0px;
}

.tracksList :first-child {
  border-radius: 20px 20px 0 0;
}
.tracksList :last-child {
  border-radius: 0 0 20px 20px;
}
.tracksList {
  padding: 40px;
  border-radius: 20px;
  min-width: 80vw;
  min-height: 400px;
}
